POSTGRES_HOST=210.121.177.150
POSTGRES_PORT=5432
POSTGRES_USER=stocksim
POSTGRES_PASSWORD=stocksim123
POSTGRES_DB=stocksimulator

REDIS_HOST=210.121.177.150
REDIS_PORT=6380
REDIS_PASSWORD=stocksim123

MONGO_HOST=210.121.177.150
MONGO_PORT=27018
MONGO_USER=stocksim
MONGO_PASSWORD=stocksim123

KAFKA_HOST=210.121.177.150
KAFKA_PORT=9093

EUREKA_HOST=210.121.177.150
EUREKA_PORT=8761
