# Spring Profile (local | prd)
SPRING_PROFILES_ACTIVE=local

# Database
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Eureka (prd only)
EUREKA_HOST=
EUREKA_PORT=8761

# Riot API
RIOT_API_KEY=
